[submodule "github/ruanyifeng/weekly"]
	path = github/ruanyifeng/weekly
	url = git@github.com:ruanyf/weekly.git
[submodule "github/HelloGitHub"]
	path = github/HelloGitHub
	url = git@github.com:521xueweihan/HelloGitHub.git
[submodule "github/haoel-articles"]
	path = github/haoel-articles
	url = git@github.com:ghostincoolshell/haoel-articles.git
[submodule "github/qdaily_backup"]
	path = github/qdaily_backup
	url = git@github.com:LampScript/qdaily_backup.git
[submodule "github/ljinkai/weekly"]
	path = github/ljinkai/weekly
	url = git@github.com:ljinkai/weekly.git
[submodule "github/zenany/weekly"]
	path = github/zenany/weekly
	url = git@github.com:zenany/weekly.git
[submodule "github/xitu/gold-miner"]
	path = github/xitu/gold-miner
	url = git@github.com:xitu/gold-miner.git
[submodule "github/ascoders/weekly"]
	path = github/ascoders/weekly
	url = git@github.com:ascoders/weekly.git
