# Files
*.rar
*.zip
*.war
*.jar
*.pptx
*.tar.gz
*.tar.xz

# Projects
manual/msb/0418.springboot二期/第一节课/springboot_study
manual/msb/0418.springboot二期/第三节课/i18n
manual/msb/0418.springboot二期/第三节课/springboot_data
manual/msb/0418.springboot二期/第三节课/springboot_mybatis
manual/msb/0418.springboot二期/第二节课/springboot_web/

